<ion-header class="header-brand">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="logoDiv">
        <img src="assets/images/9lessonsLogo.png" class="logo" />
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="page-brand">
  <ion-card *ngFor="let article of articles">
    <ion-item class="item-text-wrap">
      <ion-avatar item-left>
        <img src="assets/images/SrinivasTamada.png">
      </ion-avatar>
      <h2 class="wrap" (click)="viewArticle(article)">{{article.title.$t}}</h2>
    </ion-item>
    <img src="{{getImage(article.content.$t)}}" *ngIf="getImage(article.content.$t)">
    <ion-card-content>
      <p [innerHTML]="getContentSnippet(article.content.$t)"></p>
      <div class="date">{{article.published.$t | date}}</div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <a class="tag" *ngFor="let category of article.category" (click)='getTagData(tag)'>
      {{category.term}}
      </a>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
