<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="logoDiv">
        <img src="../images/9lessonsLogo.png" class="logo"/>
        </div>
        </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 

<ion-card *ngFor="let article of articles">

  <ion-item class="item-text-wrap">
    <ion-avatar item-left>
      <img src="../images/SrinivasTamada.png" >
    </ion-avatar>
    <h2 class="wrap">{{article.title}}</h2>
   
  </ion-item>

 <img src="{{getImage(article.content)}}" *ngIf="getImage(article.content)">
  
  <ion-card-content>
    <p>
    {{article.contentSnippet}}
    </p>
     <div>{{article.publishedDate}}</div>
  </ion-card-content>

  <ion-row>
    <ion-col *ngFor="let label of article.categories">
      <button ion-button icon-left clear small>
        <div>{{label}}</div>
      </button>
    </ion-col>
    
  </ion-row>
</ion-card>

</ion-content>
